<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h2>Hello!</h2>
		
		<h3>Tambah Mobil</h3>
		<form th:action="@{'/car/add/' + ${dealer.id}}" th:object="${dealer}" method="POST">
			<input type="hidden" th:field="*{id}"></input>
			<table>
			  <thead>
			    <tr>
			    	<th>No</th>
			    	<th>Brand</th>
					<th>Type</th>
					<th>Price</th>
					<th>Amount</th>
					<th>
					  <button type="submit" name="addRow" th:text="Tambah">Tambah</button>
					</th>
			    </tr>
   			    <tr th:each="car,iterStat : *{listCar}">
			      <td th:text="${iterStat.count}">1</td>
			      <td>
			      <!-- *{listCar[__${iterStat.index}__].brand} itu untuk ngambil data ke listcar pada index tersebut, karena kalau pakai
			      langsung kayak biasa dia gabisa, perlu ada predessesor [__ __] -->
			      	<input type="hidden" th:field="*{listCar[__${iterStat.index}__].dealer}" th:value="${dealer}"/>
			        <input type="text" th:field="*{listCar[__${iterStat.index}__].brand}" />
			      </td>
			      <td>
			        <input type="text" th:field="*{listCar[__${iterStat.index}__].type}" />
			      </td>
			      <td>
			        <input type="text" th:field="*{listCar[__${iterStat.index}__].price}" />
			      </td>
	  		      <td>
			        <input type="text" th:field="*{listCar[__${iterStat.index}__].amount}" />
			      </td>
			      <td>
			        <button type="submit" name="removeRow" 
			                th:value="${iterStat.index}" th:text="Hapus">Remove row</button>
			      </td>
			    </tr>
			  </thead>
			  <tbody>

			  </tbody>
			</table>
			<button type="submit" name="save" th:text="Save"></button>
		</form>
	</body>
</html>